<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printable Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .navigation {
            position: fixed;
            right: 50px;
            top: 50px;
            padding: 10px;
            z-index: 9999;
            background: rgba(255, 255, 255, .8);
            border-radius: 5%;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="navigation">
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.search.label() }}
                {{ form.search(style='margin-top: 5px', placeholder='Search...', class='form-control') }}
                {{ form.zoom.label() }}
                {{ form.zoom(style='margin-top: 5px', placeholder='Zoom', class='form-control') }}
                {{ form.map_style.label() }}
                {{ form.map_style(class='form-control') }}

                <div class="row mt-3">
                    <div class="col-6">
                        {{ form.submit(class='btn btn-success') }}
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('save_png') }}" target="_blank" class="btn btn-success" title="Save as PNG">
                            <i class="fa fa-camera"></i>
                        </a>
                        <a href="{{ url_for('save_pdf') }}" target="_blank" class="btn btn-success" title="Save as PDF">
                            <i class="fa fa-file"></i>
                        </a>
                    </div>
                </div>

            </form>
        </div>
        {{ html_map|safe }}
    </div>
</body>

</html>